.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fighters-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  border: 1px solid #858585;
  border-radius: 5px;
  width: min-content;
  min-width: 840px;
  height: min-content;
}

.fighter {
  height: 200px;
  width: 200px;
  background-color: red;
  transition: transform 0.3s;
  background-size: cover;
  border: 5px solid transparent;
  background-repeat: no-repeat;
}

.fighter:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 5px solid white;
}

.fighter-screen {
  background-color: #fff;
  border: 1px solid blue;
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
}